<div layout="column">
    <div layout="row" layout-xs="column">
        <md-input-container class="md-icon-float md-block" flex="40">
            <form ng-submit="loadData(true);">
                <!-- Use floating label instead of placeholder -->
                <label>Поиск</label>
                <input ng-model="filter.search" type="text"/>
            </form>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" flex="40">
            <label>Выберете тип района</label>
            <md-select ng-model="filter.type" ng-change="selectType()">
                <md-option><em>None</em></md-option>
                <md-option ng-repeat="(k, st) in type" ng-value="k">
                    {{st}}
                </md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container class="md-icon-float md-block" flex="40">
        <md-button class="md-fab md-mini md-primary" ng-click="redirectTo('/districts/edit')">
            <md-tooltip md-direction="top"><span class="logout" i18n key="buttons.add"></span></md-tooltip>
            <md-icon class="material-icons">add</md-icon>
        </md-button>
        </md-input-container>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="" data-name='street'>Город</th>
                    <th class="nowrap text-center fixed-width" data-name='type' width="95">Название</th>
                    <th class="nowrap text-center fixed-width" width="95" data-name='comment'>Тип</th>
                    <th class="nowrap text-center fixed-width" width="95" data-name='price'>Дата</th>
                    <th class="fixed-width" width="95"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="item.city"></td>
                    <td ng-bind="item.name"></td>
                    <td md-cell class="text-center">{{type[item.type]}}</td>
                    <td ng-bind="item.created_at" class="text-center"></td>
                    <td>
                        <div layout="row" class="buttons">
                            <a ng-href="/districts/edit/{{item.id}}" title="Редактировать">
                                <md-icon class="material-icons">view_headline</md-icon>
                            </a>&nbsp;
                            <a ng-click="deleteItem(item.id)" aria-label="Remove" title="Удалить">
                                <md-icon class="material-icons">delete</md-icon>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loading && items.length === 0">
                    <td colspan="6" class="text-center">Заказы не найдены</td>
                </tr>
            </tbody>
        </table>
        <pagination page="filter.page" limit="filter.limit" total="total" load-data="loadData($page, $limit)"></pagination>
    </div>
</div>