<div layout="column">
    <div layout="row" layout-xs="column">
        <md-input-container class="md-icon-float md-block" flex="40">
            <form ng-submit="loadData(true);">
                <!-- Use floating label instead of placeholder -->
                <label>Поиск</label>
                <input ng-model="filter.search" type="text"/>
            </form>
        </md-input-container>
        <div flex></div>
        <md-button title="" ng-href="/banners/create" class="md-fab md-mini md-primary hide" aria-label="Add banner" flex="none">
            <md-tooltip md-direction="top">Добавить новый баннер</md-tooltip>
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="nowrap text-center fixed-width" data-name='photo' width="95">Фото</th>
                    <th class="" data-name='street'>Наименование</th>
                    <th class="nowrap text-center fixed-width" data-name='type' width="95">URL</th>
                    <th class="nowrap text-center fixed-width">Описание</th>
                    <th class="nowrap text-center fixed-width" width="95">Дата&nbsp;добавления</th>
                    <th class="fixed-width" width="95"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><img ng-src="{{item.photo}}"/></td>
                    <td ng-bind="item.name"></td>
                    <td ng-bind="item.url"></td>
                    <td ng-bind="item.description"></td>
                    <td ng-bind="item.date" class="text-center"></td>
                    <td>
                        <div layout="row" class="buttons">
                            <a ng-href="/banners/view/{{item.id}}" title="Просмотр">
                                <md-icon class="material-icons">view_headline</md-icon>
                            </a>&nbsp;
                            <a ng-href="/banners/edit/{{item.id}}" title="Редактировать">
                                <md-icon class="material-icons">edit</md-icon>
                            </a>&nbsp;
                            <a ng-click="deleteItem(item.id)" aria-label="Remove" title="Удалить">
                                <md-icon class="material-icons">delete</md-icon>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-show="!loading && items.length === 0">
                    <td colspan="6" class="text-center">Баннеры не найдены</td>
                </tr>
            </tbody>
        </table>
        <pagination page="filter.page" limit="filter.limit" total="total" load-data="loadData($page, $limit)"></pagination>
    </div>
    
</div>